body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 10px;
}

nav a {
    color: white;
    text-decoration: none;
 }
nav a:hover {
    color: #ccc;
    border-bottom: #ccc 1px solid;
    font-weight: bold;
}
main {
    padding: 20px;
}
section, article {
    margin-bottom: 20px;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
figure {
    text-align: center;
}
figure img {
    width: 30%;
    height: auto;
}