@import "tailwindcss";

body{
    color: darkgreen;
}
header{
    display: flex;
    gap: 0rem;
    padding-top: 1.6rem;
    background-color: rgb(245, 246, 247);
}

nav ul{
    display: flex;
    gap: 1rem;
    position: relative;
    margin-left: 5rem;
}
nav a{
    padding-right: 1.5em;
}
nav a:hover{
    text-decoration: underline;
    color: darkgreen;
    font-weight: 500;
    transition: transform 0.4s ease-in-out;
}
header i{
    font-size: 1.5rem;
    padding: 0.3rem;
}
header .material-symbols-outlined{
    font-size: 1.5rem;
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
    padding: 5px 5px;
}
header .material-symbols-outlined:hover{
    transform: scale(1.2);
    background-color: rgb(107, 244, 237);
    transition: transform 0.3s ease-in;
}
.container{
    background-color: rgb(245, 246, 247);
    max-width: max-content;
}
/* ----------------------------services container---------------------------- */
.services-container{
    background-color: black;
    padding: 60px;
}

