body{
    margin: 0;
    padding: 0;
    
}
header {
    height: 100px;
    width: 100%;
    background-color: rgb(39, 50, 92);
    display: flex;
    gap: 15%;
    padding: 5px;
    box-shadow: 0px 2px 4px black;
}
header h1 {
    font-size: 38px;
    text-shadow: 3px 3px 3px rgba(20, 24, 82, 0.249);
    color: #ffffff;
    margin-left: 25px;
    animation-delay: 5s;
    animation: logo 7s infinite linear;
    display: inline-block;
}
@keyframes logo{
    0%{
        transform: rotateY(180deg);
        opacity: 0;
    }
    100%{
        transform: rotateY(360deg);
    }
}
nav ul {
    display: flex;
    list-style-type: none;
    
    margin-left: 500px;
    margin-top: -60px;
}
nav .li-first{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    padding: 10px 30px;
    background-color: rgb(208, 228, 245);
}
nav .li-last{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    padding: 10px 30px;
    background-color:  rgb(208, 228, 245);
}
nav .li-rest{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 10px 30px;
    background-color:  rgb(208, 228, 245);
}
.header-content nav ul li a{
   
    text-decoration: none;
    color: rgb(42, 19, 19);
    font-size: 20px;
    padding: 0px;
    font-weight: 550;
}

nav .li-first:hover, nav .li-last:hover, nav .li-rest:hover{
    background-color: rgb(167, 210, 247);
}
/* Grid-flexbox css */
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto auto ;
    grid-template-rows: repeat(5, 250px);
    gap: 10px;
    
    height: 750px;
    width: 95%;
   
    padding: 30px;
    
}

.grid-container div {
    border: 2px black solid;
    background-color: #ddd;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
   text-align: center;
  margin-bottom: 20px;
  max-width: 100%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.549);
  border-radius: 7px;
}

.image4 {
    grid-column-start: 4;
    grid-column-end: 6;
    height: 245px;
    background-image: url(images/image9.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.grid-container .image10 {
    grid-column-start: 3;
    grid-column-end: 5;
    height: 159px;
    margin-top: 87px;
    background-image: url(images/image10.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* .grid-container .image9{
    height: 510px;
} */
.image9 {
    grid-row-start: 2;
    grid-row-end:4;
    grid-column-start: 5;
    height: 507px;
    background-image: url(images/image7.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.image3{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
    height: 590px;
    background-image: url(images/image4.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.grid-container .image5{
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    height: 375px;
    margin-top: 130px;
    background-image: url(images/image8.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.grid-container .image1, .grid-container .image2{
    height: 375px;
}
.grid-container .image2{
    background-image: url(images/image.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.grid-container .image1 {
    background-image: url(images/image1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.grid-container .image6 {
    height: 200px;
    margin-top: 130px;
    background-image: url(images/image2.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.grid-container .image8{
    height: 159px;
    margin-top: 87px;
    background-image: url(images/image9.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.grid-container .image7 {
    height: 330px;
    background-image: url(images/image6.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.grid-container div:hover{
   
    transform: scale(1.1);
    transition: transform 0.3s ease-in;
}
.invite-block{
    text-align: center;
    padding: 20px;
    background-color: #eed4d4;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.432);
    margin: 20px auto;
    max-width: 600px;
    border-radius: 10px;
}
.invite-block h2 {
    color: #333;
    font-size: 28px;
    margin-bottom: 10px;
  }
  
  .invite-block p {
    color: #666;
    font-size: 16px;
  }
  .invite-users {
    background-color: #fff;
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .invite-users form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .form-group {
    position: relative;
  }
  
  .form-group input {
    width: 80%;
    padding: 10px 60px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
 }
  
  .form-group i {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #888;
  }
  
   .btn {
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
  }
 
  .btn:hover {
    background-color: #555;
  }
  
  .invite-users a {
    text-align: center;
    margin-top: 10px;
    color: #333;
    text-decoration: none;
    font-size: 14px;
  }
  
  .invite-users a:hover {
    color: #555;
    text-decoration: underline;
  }
    
  


